*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

.article-card5{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 2rem;
    margin: 3rem;
  }

li{
    list-style: none;
    display: flex;
    height: 40rem;
    width: 24rem;
    background: white;
    border-radius: 2rem;
    box-shadow: 0 2rem 2rem 1rem rgba(0,0,0,0.2);
    background: rgba(0, 0, 0, 0.90);
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
}

h2{
    font-size: 2rem;
    font-family: sans-serif;
    color: white;
    margin-bottom: 1rem;
}

p{
    font-family: sans-serif;
    color: white;
    margin-top: 1rem;
}

img{
    object-fit: cover;
}
